html,body{
    margin: 0px;
    width: 100%;
}
#encabezado{
    background-color: rgba(53, 58, 64, 1);
    color: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif;

}

/* price */

.price{
    text-align: center;

}

.price__table{
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    align-items: center;
    justify-content: center;
    
}

.price__element{
    background-color: white;
    text-align: center;
    border-style: double;
    border-width: 1px;
    border-color: blue;
    width: 330px;
    padding: 20px;
}

.best{
    border-color: aqua;
}
.bestt{
    border-color: yellow;
}

.sub{
    color:#696871;
}

/*Question */

.container{
    display: grid;
    justify-content: center;
    text-align: center;

}

.questions__inputs{
    margin-top: 10px;
    display: flex;  
    overflow: hidden;
    
}
.question__input{

    height: 40px;
    padding-right: 200px;
    margin-left: 10px;
    border-radius: 4px;
    font-size: 1rem;
    border-color: rgb(190, 190, 190);
    width: 100%;
}
.questions__form{
    width: 800px;
    overflow: hidden;
}

.question_cant{
    display: flex;
    width: 100%;
    flex-wrap: wrap;

}
.cantidad{
    text-align: start;
    width: 50%;
    padding-right: 5px;
    
}
.categoria{
    text-align: start;
    width: 50%;
    padding-left: 5px;
}
.categ{
    width: 97.5%;
    height: 40px;
}
.precio{

    width: 100%;
    background-color: lightblue;
    margin-top: 40px;
    margin-left: 5px;
    padding: 13px;
    border-style: double;
    border-width: 1px;
    border-color: rgb(136, 206, 230);
    border-radius: 2%;
    

}
.preci{
    background-color: rgba(173, 216, 230, 0.884);

    border: none;
    display: flex;

}
.botones{
    display: flex;
    width: 100%;
}
.bot{
    background-color: rgb(80, 138, 46);
    text-align: center;
    color:white;
    border:none;
    width: 100%;
    margin-top: 30px;
    margin-left: 5px;
    margin-bottom: 50px;
    padding: 10px;
    border-radius: 2%;


}
footer{
    background-color: rgb(29, 57, 71);
    color:#f0f0f0;
    font-weight: 20px;
}